# General
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
13_theme/app_theme/.vscode/
!13_theme/app_theme/.vscode/settings.json
!13_theme/app_theme/.vscode/tasks.json

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# firebase
/11_firebase/firebase_project/android/app/google-services.json
/11_firebase/firebase_project/ios/Runner/GoogleService-Info.plist
/11_firebase/firebase_project/ios/firebase_app_id_file.json
/11_firebase/firebase_project/lib/firebase_options.dart
/11_firebase/firebase_project/macos/Runner/GoogleService-Info.plist
/11_firebase/firebase_project/macos/firebase_app_id_file.json
